
@{
    ViewBag.Title = "View book";
}
@model WebApplication2.Models.Table
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersView</title>
</head>
<body>
    <p>Список книг отсортированные по авторам</p>
    <table border="1">
        <tr>
            <td>FIO</td>
            <td>age</td>
            <td>pasport</td>
            <td>zag_pasport</td>

        </tr>
        @{

            for (int i = 0; i < @ViewBag.Pers.Count; i++)
            {
                <tr>
                    <td>@ViewBag.Pers[i].FIO</td>
                    <td>@ViewBag.Pers[i].age</td>
                    <td>@ViewBag.Pers[i].pasport</td>
                    <td>@ViewBag.Pers[i].zag_pasport</td>
                </tr>
            }
        }
        </table>
</body>
</html>
